<title>TinyApp</title>

<% if (!user) {%>
  <a href="/register">Register here!</a>
  <a href="/login">Login</a>
<%} if(user) { %>
  <form method="POST" action="/logout">
  <h2><%= user.email%></h2>
  <input type="submit" value="Logout">
  </form>

<%}%>