<!-- qweqweqeqweq-->
<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
    <form method="POST" action="/login">
        <p>Username<input type="text" name="username"></p>
        <p>Password<input type="password" name="password"></p>
      <input type="submit" value="Login">
    </form>
</body>
</html>