<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>
    <form action="/register" method="POST">
      <p>Email<input type="email" id="email"></p>
      <p>Password<input type="password" id="pass"></p>
      <input type="submit" value="Register">
    </form>
  </body>
</html>