<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include ./partials/_header%>
</head>
<body>
  <h1>ShortURL:<b><%=shortURL%></b></h1>
  <form method="POST" action="/urls/<%=shortURL%>">
    <p><%=URL%></p>
    <input type="text" name="tempURL" value="<%=URL%>">
    <input type="submit" value="update">
  </form>

  <p><a href="/urls">Back to List</a></p>
</body>
</html>