<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include ./partials/_header%>
</head>
<body>
  <h2>Your Short URLS</h2>
  <div>
    <ul>
      <% for (let i in urls) {%>
      <li><a href="/urls/<%=i%>"><%=i;%></a> ==> <%=urls[i];%></li>
      <% }%>
    </ul>
  </div>
  <a href="">Shortening Link</a>
</body>
</html>